* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    height: 100vh;
}

h2 {
    margin-bottom: 40px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.login-link a{
    text-decoration: none;
    color:orange;
}

button {
    width: 80%;
      padding:14px;
      text-decoration:none;
      background-color: orange;
      color: #ffffff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
}

button:hover {
    background-color: blue;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
